.elements {
    margin: 51px auto 0;
    max-width: 880px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
}

@media screen and (max-width: 1024px) {
    .elements {
        padding: 0 24px;
    }
}

@media screen and (max-width: 768px) {
    .elements {
        gap: 20px 20px;
        margin-top: 36px;
        padding: 0 19px;
    }
}