.profile__info {
    display: grid;
    justify-content: start;
    grid-template-columns: auto 24px;
    grid-template-areas:
        "title button"
        "subtitle subtitle";
    column-gap: 18px;
    row-gap: 8px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile__info {
        justify-items: center;
        column-gap: 10px;
        row-gap: 8px;
        grid-template-columns: auto 18px;
    }
}