.header__auth {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.header__auth:hover {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .header__auth {
        margin-right: 27px;
    }
}

@media screen and (min-width: 1024px) {
    .header__auth {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .header__auth {
        font-size: calc(14px + 4 * (100vw - 320px) / 448); /* размер текста будет уменьшаться пропорционально размеру окна */
    }
}
